<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.garu.fart"
    android:versionCode="2"
    android:versionName="beta" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fart"
        android:label=""
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.garu.fart.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.garu.fart.Main_Activity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search" />
        </activity>
        <activity
            android:name="com.garu.fart.Acudit_Activity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="Main_Activity" />
        <activity 
            android:name="com.garu.fart.Setting"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="Main_Activity" />
    </application>

</manifest>